.banner {
  background-size: cover;
  height: 200px;
  background-position: 50% 0%;
  display: flex;
  text-shadow: 0 0 48px rgb(103, 0, 0);
  color: goldenrod
}

.banner h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: goldenrod
}
.banner h6 {
  font-size: 24px;

  margin: 0
}

.banner > .container > p{
  font-size: 8px;
  color: rgb(52, 4, 4);
  font-weight: 700;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: goldenrod;
  margin: 0;
}

.banner .container a {
  background: radial-gradient(goldenrod, black);
  padding: 0px 8px;
  border-radius: 50px;
  color: rgb(89, 6, 6);
  font-weight: 700;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: goldenrod;
}

.banner .container a:hover {
  background-image: url('https://media1.giphy.com/media/3o85xJY1FaLzqeoBGw/giphy.gif');
  border: 2px solid goldenrod;
}

.red-font-outline {
  color: rgb(52, 4, 4);
  font-weight: 700;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: goldenrod;
}
